<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register Form</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- JS -->
	<script src="bootstrap/js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<!-- Frame Start -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="card shadow-lg col-sm-8 mt-5">
				<div class="card-body">
					<!-- End Frame -->
					<h1 class="headerTitle text-center text-white p-2">Hotel Reservation System</h1>
					<h3 class="secTitle text-center p-2 mt-3">Register Form</h3>
					<div class="row justify-content-center">
						<form action="#" class="mt-3 col-sm-8">
							<div class="form-group row">
								<label for="name" class="col-form-label col-sm-3">Name:</label>
								<div class="col-sm-9">
									<input type="text" name="name" id="name" class="form-control" placeholder="Enter your Name">
								</div>
							</div>
							<div class="form-group row">
								<label for="email" class="col-form-label col-sm-3">Email:</label>
								<div class="col-sm-9">
									<input type="email" name="email" id="email" class="form-control"  placeholder="Enter your email">
								</div>
							</div>
							<div class="form-group row">
								<label for="password" class="col-form-label col-sm-3">Password:</label>
								<div class="col-sm-9">
									<input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
								</div>
							</div>
							<div class="form-group row">
								<label for="profile" class="col-form-label col-sm-3">Profile:</label>
								<div class="col-sm-9">
									<input type="file" name="profile" id="profile">
								</div>
							</div>
							<div class="form-group row">
								<label for="phone" class="col-form-label col-sm-3">Phone:</label>
								<div class="col-sm-9">
									<input type="number" name="phone" id="phone" class="form-control" placeholder="Enter your phone number">
								</div>
							</div>
							<div class="form-group row">
								<label for="nrc" class="col-form-label col-sm-3">NRC:</label>
								<div class="col-sm-9">
									<input type="text" name="nrc" id="nrc" class="form-control" placeholder="Enter your NRC Number">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9">
									<input type="submit" value="Register" class="btn btn-gold px-4">
									<a href="#" class="text-gold d-block mt-3">Already have an account? | Login here.</a>
								</div>
							</div>
						</form>
					</div>
					<!-- Frame Start -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>